flows.json
[{"id":"68e61a5.4c65fe4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"294d5e48.e52012","type":"debug","z":"68e61a5.4c65fe4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":240,"wires":[]},{"id":"2c7fee0d.5776f2","type":"function","z":"68e61a5.4c65fe4","name":"temperature","func":"global.set('temperature',msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["294d5e48.e52012","3d87338.822a1cc"]]},{"id":"ea83a258.01fc9","type":"function","z":"68e61a5.4c65fe4","name":"humidity","func":"global.set('humidity',msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["294d5e48.e52012","f46808d1.03c268"]]},{"id":"e0b43416.4c5d98","type":"http in","z":"68e61a5.4c65fe4","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":190,"y":460,"wires":[["1f7ee9e2.a42676"]]},{"id":"60443203.2a73dc","type":"http response","z":"68e61a5.4c65fe4","name":"","statusCode":"","headers":{},"x":620,"y":460,"wires":[]},{"id":"1f7ee9e2.a42676","type":"function","z":"68e61a5.4c65fe4","name":"webpage","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\"),\n'objectTemp':global.get(\"objectTemp\")}\nreturn msg;","outputs":2,"noerr":0,"x":390,"y":460,"wires":[["60443203.2a73dc"],[]]},{"id":"438ac24c.c41a7c","type":"function","z":"68e61a5.4c65fe4","name":"soil moisture","func":"global.set('objectTemp',msg.payload.d.objectTemp)\nmsg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["294d5e48.e52012","32d454e0.374a9c"]]},{"id":"3d87338.822a1cc","type":"ui_gauge","z":"68e61a5.4c65fe4","name":"","group":"a4030b32.cd89e8","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":160,"wires":[]},{"id":"f46808d1.03c268","type":"ui_gauge","z":"68e61a5.4c65fe4","name":"","group":"a4030b32.cd89e8","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":360,"wires":[]},{"id":"32d454e0.374a9c","type":"ui_gauge","z":"68e61a5.4c65fe4","name":"","group":"a4030b32.cd89e8","order":1,"width":0,"height":0,"gtype":"gage","title":"soil moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":300,"wires":[]},{"id":"ed80acac.d2736","type":"ibmiot in","z":"68e61a5.4c65fe4","authentication":"apiKey","apiKey":"23f4eb92.972ec4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"dev","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":220,"wires":[["294d5e48.e52012","ea83a258.01fc9","2c7fee0d.5776f2","438ac24c.c41a7c"]]},{"id":"a4030b32.cd89e8","type":"ui_group","z":"","name":"greenhouse ","tab":"68327ce7.1f5964","order":1,"disp":true,"width":"6","collapse":false},{"id":"23f4eb92.972ec4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"68327ce7.1f5964","type":"ui_tab","z":0,"name":"monitor","icon":"dashboard","disabled":false,"hidden":false}]